INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=change-me-local-token
INFLUX_ORG=library
INFLUX_BUCKET=desksense
MQTT_HOST=127.0.0.1
MQTT_PORT=1883
HTTP_PORT=8080
COAP_PORT=5683
COAP_BIND_HOST=0.0.0.0
DESK_ID=desk-01
